---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle" >About</h3>

<img src="/assets/images/PhD_Work_Distribution300.JPG" 
style="width:300px;height:330px; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;" class="align-right"/>

<p class="text-left">I work as a Industrial PhD Student and Data Scientist at <a href="https://www.his.se/en">University of Skövde</a> and <a href="https://www.scania.com/">Scania</a>. My supervisors are <a href="https://www.his.se/en/about-us/staff/lars.hanson/"> Lars Hanson </a> and <a href="https://www.his.se/en/about-us/staff/anna.syberfeldt/">Anna Syberfeldt </a>. </p>
<p class="text-left">My research focuses on enhancement of the physical ergonomic evaluation using Artificial Intelligence. </p>



<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<p></p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-left-posts.html type="left"%}
{% endfor %}


{% include paginator.html %}
